<div class="game-container">
	<div class="player-pannel">
		<div class="ava">
			<p><%= player.name %></p>
		</div>
		<div class="hp-bar">
			<p><%= player.hp %></p>
		</div>
		<div class="mp-bar">
			<p><%= player.mp %></p>
		</div>
		<div class="skill-bar">
			<div class="skill-item">
			</div>
		</div>
	</div>
	<div class="opponent-pannel">
		<div class="ava">
			<p><%= opponent.name %></p>
		</div>
		<div class="hp-bar">
			<p><%= opponent.hp %></p>
		</div>
		<div class="mp-bar">
			<p><%= opponent.mp %></p>
		</div>
		<div class="skill-bar">
			<div class="skill-item">
			</div>
		</div>
	</div>
	<div class="game-board">
	</div>
	
</div>

